/** {
    border: solid;
}
*/
h1{
    color: black;
}
.header{
    border:solid;
    background-color: cadetblue;
    display:flex;
    justify-content: space-between;
    padding-left:30px;
}
.disc{
    display:flex;
    flex-direction: column;
    justify-content: first baseline;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
    color:#7AD7AD;
    font-size:30px;
}
body{
    background-color:#808080;
}